.badge {
    padding: 0px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 8px;
    background: #19af66;
  }
  
  .btn-success {
    background-color: var(--success);
    &:hover {
      background: var(--success-hover);
    }
  }
  
  .btn-warning {
    background-color: var(--warning);
    &:hover {
      background: var(--warning-hover);
    }
  }
  
  .btn-error {
    background-color: var(--error);
    &:hover {
      background: var(--error-hover);
    }
  }
  .btn-info {
    background-color: var(--info);
    &:hover {
      background: var(--info-hover);
    }
  }
  